certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
Deprecated==1.2.18
dotenv==0.9.9
et_xmlfile==2.0.0
fitfile==1.1.10
fitparse==1.2.0
fpdf==1.7.2
gpxpy==1.6.2
idna==3.10
img2pdf==0.6.1
lxml==6.0.0
numpy==2.2.6
opencv-python==4.12.0.88
openpyxl==3.1.5
packaging==25.0
pdf2image==1.17.0
pikepdf==9.10.2
pillow==11.3.0
pillow_heif==1.0.0
polyline==2.0.2
pycparser==2.22
pyheif==0.8.0
python-docx==1.2.0
python-dotenv==1.1.1
python-pptx==1.0.2
qrcode==8.2
rarfile==4.2
requests==2.32.4
typing_extensions==4.14.1
urllib3==2.5.0
wrapt==1.17.2
xlrd==2.0.2
xlsxwriter==3.2.5
